<aside id="sidebar" class="fixed left-0 top-16 h-[calc(100vh-4rem)] w-64 bg-white dark:bg-neutral-800 border-r border-gray-200 dark:border-neutral-700 transition-all duration-300 -translate-x-full">
    <div class="p-4">
        <button 
            type="button"
            class="w-full flex items-center justify-start space-x-2 px-4 py-3 bg-primary hover:bg-primary-dark text-white rounded-lg transition-colors duration-200"
        >
            <i class="ph ph-plus text-lg"></i>
            <span>Nova consulta</span>
        </button>
    </div>
    <div class="px-4">
        <div class="border-t border-gray-200 dark:border-neutral-700"></div>
    </div>
</aside> 